/homework/Les 2 - Basis datastructuren/.vs/Huiswerk2/v17/.futdcache.v2
/homework/Les 4 - Quicksort en bomen/.idea/.idea.Huiswerk4/.idea/.gitignore
/homework/Les 5 - Toepassing binaire bomen/.idea/.idea.Huiswerk5/.idea/.gitignore
/homework/Les 4 - Quicksort en bomen/.idea/.idea.Huiswerk4/.idea/.name
/homework/Les 5 - Toepassing binaire bomen/.idea/.idea.Huiswerk5/.idea/.name
/homework/Les 2 - Basis datastructuren/.vs/Huiswerk2/v17/.suo
/.vs/Algorithms/v17/.wsuo
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/Debug/net6.0/apphost.exe
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/Debug/net6.0/apphost.exe
/homework/Les 4 - Quicksort en bomen/.idea/.idea.Huiswerk4/.idea/encodings.xml
/homework/Les 5 - Toepassing binaire bomen/.idea/.idea.Huiswerk5/.idea/encodings.xml
/homework/Les 2 - Basis datastructuren/.vs/ProjectEvaluation/huiswerk2.metadata.v6.1
/homework/Les 2 - Basis datastructuren/.vs/ProjectEvaluation/huiswerk2.projects.v6.1
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/Debug/net6.0/Huiswerk4.assets.cache
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/Debug/net6.0/Huiswerk4.csproj.CoreCompileInputs.cache
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/Debug/net6.0/Huiswerk4.csproj.FileListAbsolute.txt
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/Huiswerk4.csproj.nuget.dgspec.json
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/Huiswerk4.csproj.nuget.g.props
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/Huiswerk4.csproj.nuget.g.targets
/homework/Les 4 - Quicksort en bomen/Huiswerk4/bin/Debug/net6.0/Huiswerk4.deps.json
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Huiswerk4.deps.json
/homework/Les 4 - Quicksort en bomen/Huiswerk4/bin/Debug/net6.0/Huiswerk4.dll
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/Debug/net6.0/ref/Huiswerk4.dll
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/Debug/net6.0/refint/Huiswerk4.dll
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/Debug/net6.0/Huiswerk4.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Huiswerk4.dll
/homework/Les 4 - Quicksort en bomen/Huiswerk4/bin/Debug/net6.0/Huiswerk4.exe
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Huiswerk4.exe
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/Debug/net6.0/Huiswerk4.genruntimeconfig.cache
/homework/Les 4 - Quicksort en bomen/Huiswerk4/bin/Debug/net6.0/Huiswerk4.pdb
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/Debug/net6.0/Huiswerk4.pdb
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Huiswerk4.pdb
/homework/Les 4 - Quicksort en bomen/Huiswerk4/bin/Debug/net6.0/Huiswerk4.runtimeconfig.json
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Huiswerk4.runtimeconfig.json
/homework/Les 4 - Quicksort en bomen/Huiswerk4.sln.DotSettings.user
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/Debug/net6.0/Huiswerk5.assets.cache
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/Debug/net6.0/Huiswerk5.csproj.CoreCompileInputs.cache
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/Debug/net6.0/Huiswerk5.csproj.FileListAbsolute.txt
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/Huiswerk5.csproj.nuget.dgspec.json
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/Huiswerk5.csproj.nuget.g.props
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/Huiswerk5.csproj.nuget.g.targets
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/bin/Debug/net6.0/Huiswerk5.deps.json
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Huiswerk5.deps.json
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/bin/Debug/net6.0/Huiswerk5.dll
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/Debug/net6.0/ref/Huiswerk5.dll
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/Debug/net6.0/refint/Huiswerk5.dll
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/Debug/net6.0/Huiswerk5.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Huiswerk5.dll
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/bin/Debug/net6.0/Huiswerk5.exe
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Huiswerk5.exe
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/Debug/net6.0/Huiswerk5.genruntimeconfig.cache
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/bin/Debug/net6.0/Huiswerk5.pdb
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/Debug/net6.0/Huiswerk5.pdb
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Huiswerk5.pdb
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/bin/Debug/net6.0/Huiswerk5.runtimeconfig.json
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Huiswerk5.runtimeconfig.json
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5.sln.DotSettings.user
/homework/Les 4 - Quicksort en bomen/.idea/.idea.Huiswerk4/.idea/indexLayout.xml
/homework/Les 5 - Toepassing binaire bomen/.idea/.idea.Huiswerk5/.idea/indexLayout.xml
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Microsoft.DotNet.InternalAbstractions.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Microsoft.DotNet.InternalAbstractions.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Newtonsoft.Json.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Newtonsoft.Json.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/NuGet.Frameworks.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/NuGet.Frameworks.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/nunit.engine.api.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/nunit.engine.api.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/nunit.engine.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/nunit.engine.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/nunit.framework.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/nunit.framework.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/NUnit3.TestAdapter.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/NUnit3.TestAdapter.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/NUnit3.TestAdapter.pdb
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/NUnit3.TestAdapter.pdb
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/project.assets.json
/homework/Les 4 - Quicksort en bomen/Tests/obj/project.assets.json
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/project.assets.json
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/project.assets.json
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/project.nuget.cache
/homework/Les 4 - Quicksort en bomen/Tests/obj/project.nuget.cache
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/project.nuget.cache
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/project.nuget.cache
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/project.packagespec.json
/homework/Les 4 - Quicksort en bomen/Tests/obj/project.packagespec.json
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/project.packagespec.json
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/project.packagespec.json
/homework/Les 4 - Quicksort en bomen/Huiswerk4/obj/rider.project.restore.info
/homework/Les 4 - Quicksort en bomen/Tests/obj/rider.project.restore.info
/homework/Les 5 - Toepassing binaire bomen/Huiswerk5/obj/rider.project.restore.info
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/rider.project.restore.info
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/System.Xml.XPath.XmlDocument.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/System.Xml.XPath.XmlDocument.dll
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/testhost.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/testhost.dll
/homework/Les 4 - Quicksort en bomen/Tests/obj/Debug/net6.0/Tests.assets.cache
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/Debug/net6.0/Tests.assets.cache
/homework/Les 4 - Quicksort en bomen/Tests/obj/Debug/net6.0/Tests.csproj.CopyComplete
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/Debug/net6.0/Tests.csproj.CopyComplete
/homework/Les 4 - Quicksort en bomen/Tests/obj/Debug/net6.0/Tests.csproj.CoreCompileInputs.cache
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/Debug/net6.0/Tests.csproj.CoreCompileInputs.cache
/homework/Les 4 - Quicksort en bomen/Tests/obj/Debug/net6.0/Tests.csproj.FileListAbsolute.txt
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/Debug/net6.0/Tests.csproj.FileListAbsolute.txt
/homework/Les 4 - Quicksort en bomen/Tests/obj/Tests.csproj.nuget.dgspec.json
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/Tests.csproj.nuget.dgspec.json
/homework/Les 4 - Quicksort en bomen/Tests/obj/Tests.csproj.nuget.g.props
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/Tests.csproj.nuget.g.props
/homework/Les 4 - Quicksort en bomen/Tests/obj/Tests.csproj.nuget.g.targets
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/Tests.csproj.nuget.g.targets
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Tests.deps.json
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Tests.deps.json
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Tests.dll
/homework/Les 4 - Quicksort en bomen/Tests/obj/Debug/net6.0/ref/Tests.dll
/homework/Les 4 - Quicksort en bomen/Tests/obj/Debug/net6.0/refint/Tests.dll
/homework/Les 4 - Quicksort en bomen/Tests/obj/Debug/net6.0/Tests.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Tests.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/Debug/net6.0/ref/Tests.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/Debug/net6.0/refint/Tests.dll
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/Debug/net6.0/Tests.dll
/homework/Les 4 - Quicksort en bomen/Tests/obj/Debug/net6.0/Tests.genruntimeconfig.cache
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/Debug/net6.0/Tests.genruntimeconfig.cache
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Tests.pdb
/homework/Les 4 - Quicksort en bomen/Tests/obj/Debug/net6.0/Tests.pdb
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Tests.pdb
/homework/Les 5 - Toepassing binaire bomen/Tests/obj/Debug/net6.0/Tests.pdb
/homework/Les 4 - Quicksort en bomen/Tests/bin/Debug/net6.0/Tests.runtimeconfig.json
/homework/Les 5 - Toepassing binaire bomen/Tests/bin/Debug/net6.0/Tests.runtimeconfig.json
/homework/Les 4 - Quicksort en bomen/.idea/.idea.Huiswerk4/.idea/vcs.xml
/homework/Les 5 - Toepassing binaire bomen/.idea/.idea.Huiswerk5/.idea/vcs.xml
/.vs/VSWorkspaceState.json
/.vs/Algorithms/v17/workspaceFileList.bin
